<p id="notice"><%= notice %></p>
<div class="col-md-12">
  <div class="party">
    <%= link_to("Edit", edit_party_path(@party), class: "btn btn-primary pull-right")%>
    <%= link_to("Write a Post", new_party_post_path(@party), class: "btn btn-default pull-right")%>
  </div>
  <h2><%= @party.title %></h2>
  <p><%= @party.description %></p>
</div>
